.blog-header {
    text-align: center;
    margin-top: 25px;
    margin-left: 25%;
    margin-right: 25%;
}
.blog-message {
    text-align: center;
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
}
.blog-main {
    font-size: 125%;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}
.blog-table {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
}
.blog-table th {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
}
.blog-table td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
}
.blog-nav {
    font-size: 1.5em;
    margin-top: 25px;
}
